html,
body,
.Root,
.App {
	min-height: 100vh;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.footer {
	text-align: center;
	margin-top: auto;
}
.cardd {
	width: 21rem;
	padding: 0 !important;
}
.col {
	padding: 0 !important;
	margin-left: 0 !important;
	justify-content: center;
}
.cardLink {
	margin-top: auto;
}

.card-title {
	margin: auto 0 !important;
}
.card-text {
	margin: auto 0 !important;
}
.container {
	min-width: 100vw;
	padding: 0 !important;
}
.row {
	margin: 0 !important;
	min-width: 100%;
}
.news {
	width: 100vw;
}
@media screen and (min-width: 992px) {
	.cardd {
		width: 25rem;
	}
}
@media screen and (max-width: 500px) {
	.cardd {
		width: 22rem;
	}
}
